diffusers[torch]
transformers>=4.25.1
bitsandbytes==0.35.4
decord==0.6.0
accelerate
tensorboard
modelcards
omegaconf
einops
imageio
ftfy
matplotlib
opencv-python-headless
pandas
h5py
imgviz
flask
flask-cors
pillow==8.4.0
scikit-image
scipy==1.11.1
git+https://github.com/openai/CLIP.git